@model IEnumerable<RestaurantManager.ViewModels.MenuItemViewModel>
<h2>LunchMenu</h2>

<select class="select" multiple="multiple">
    @foreach (var item in Model)
    {
        <option value="@item.Id">@item.Name</option>
    }
</select>

@section scripts{
    <script>
        $(document).ready(function() {
            $("select").select2({
                width: '100%',
                matcher: function (params, data) {
                    return matchStart(params, data);
                },
            });
        });
    </script>
}