.pdf {
    font-style: italic;
    height: 750px;
    margin: 0 auto;
    padding: 25px 0 35px;
}

    .pdf h2 {
        font-size: 28px;
        margin-bottom: 60px;
        font-weight: bold;
    }

    .pdf h4 {
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
    }

.big {
    height: 140px;
}

.medium {
    height: 80px;
}

.small {
    height: 60px;
}

embed {
    width: 800px;
    height: 650px;
    display: block;
    margin: 0 auto;
}
